html, body {
  margin: 0;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
  display: flex;
  justify-content: center;
}
header nav {
  width: 85%;
  height: 80px;
  border-radius: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
header nav .nav-logo {
  margin-left: 50px;
  width: auto;
  height: 90%;
}
header nav .nav-logo a {
  display: block;
  height: 100%;
}
header nav .nav-logo a img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
header nav .nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
header nav .nav-links li a:hover {
  text-decoration: underline;
  color: gray;
}
header nav .nav-buttons {
  margin-right: 50px;
  display: flex;
  gap: 5px;
}
header nav .nav-buttons button {
  background-color: burlywood;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav .nav-buttons button:hover {
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 1000vh;
  background-color: white;
}
main .landing-section {
  width: 95%;
  height: 95vh;
  border-radius: 20px;
  margin-top: 60px;
  background: url("bg-imgs/landing-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
main .landing-section .landing-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
main .landing-section .landing-content .landing-title {
  font-size: 100px;
  flex: 2;
  color: white;
}
main .landing-section .landing-content .landing-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: end;
}
main .landing-section .landing-content .landing-text p {
  color: white;
  font-size: 20px;
  text-align: right;
}
main .landing-section .landing-content .landing-text button {
  background-color: wheat;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
main .featured-category-section {
  min-height: 250px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .featured-category-section p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}
main .featured-category-section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .featured-category-section .cards .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .featured-category-section .cards .card img {
  width: 100%;
  height: auto;
}
main .trending-section {
  width: 95%;
  background-color: #fff;
  padding-block: 2rem;
  overflow: hidden;
}
main .trending-section .trending-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
}
main .trending-section .trending-title span {
  color: #e91e63;
}
main .trending-section .trending-container {
  height: auto;
}
main .trending-section .trending-container .cards {
  display: flex;
  gap: 1rem;
}
main .trending-section .trending-container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 180px;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  transition: 0.3s ease;
}
main .trending-section .trending-container .cards .card img {
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .trending-section .trending-container .cards .card .category__title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
main .trending-section .trending-container .cards .card .price {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
main .trending-section .swiper {
  overflow: initial;
}
main .trending-section .swiper .swiper-button-next::after, main .trending-section .swiper .swiper-button-prev::after {
  content: "";
}
main .trending-section .swiper .swiper-button-next, main .trending-section .swiper .swiper-button-prev {
  top: -1.875rem;
  background-color: wheat;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
main .trending-section .swiper .swiper-button-next svg, main .trending-section .swiper .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  stroke: black;
}
main .trending-section .swiper .swiper-button-prev {
  left: initial;
  right: 2.5rem;
}
main .trending-section .swiper .swiper-button-next {
  right: 0;
}/*# sourceMappingURL=main.css.map */