@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", cursive;
}

svg {
  width: 15px;
  height: auto;
}

.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 2rem;
}

.section--lg {
  padding-block: 4rem;
}

.section__title {
  font-size: 1.375rem;
  margin-bottom: 1.5rem;
}

.section__title span {
  color: hsl(176, 88%, 27%);
}

.form__input {
  border: 1px solid hsl(113, 15%, 90%);
  padding-inline: 1rem;
  height: 45px;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.new__price {
  color: hsl(176, 88%, 27%);
  font-weight: 600;
}

.old__price {
  color: hsl(60, 1%, 56%);
  font-size: 0.875rem;
  text-decoration: line-through;
}

.form {
  row-gap: 1rem;
}

.form__group {
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.textarea {
  height: 200px;
  padding-block: 1rem;
  resize: none;
}

img {
  max-width: 100%;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: auto;
  display: flex;
  justify-content: center;
}
header nav {
  width: 85%;
  height: 80px;
  border-radius: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
header nav .nav-logo {
  margin-left: 50px;
  width: auto;
  height: 90%;
}
header nav .nav-logo a {
  display: block;
  height: 100%;
}
header nav .nav-logo a img {
  height: 100%;
  width: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
header nav .nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
header nav .nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
header nav .nav-links li a:hover {
  text-decoration: underline;
  color: gray;
}
header nav .nav-buttons {
  margin-right: 50px;
  display: flex;
  gap: 5px;
}
header nav .nav-buttons button {
  background-color: burlywood;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}
header nav .nav-buttons button:hover {
  background-color: black;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  background-color: white;
}
main .landing-section {
  width: 95%;
  height: 95vh;
  border-radius: 20px;
  margin-top: 60px;
  background: url("bg-imgs/landing-bg.png");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
main .landing-section .landing-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
main .landing-section .landing-content .landing-title {
  font-size: 100px;
  flex: 2;
  color: white;
}
main .landing-section .landing-content .landing-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: end;
  gap: 15px;
}
main .landing-section .landing-content .landing-text p {
  color: white;
  font-size: 20px;
  text-align: right;
}
main .landing-section .landing-content .landing-text button {
  background-color: wheat;
  text-align: center;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
}
main .featured-category-section {
  min-height: 250px;
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .featured-category-section p {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}
main .featured-category-section .cards {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .featured-category-section .cards .card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .featured-category-section .cards .card img {
  width: 100%;
  height: auto;
}
main .trending-section {
  width: 95%;
  background-color: #fff;
  padding-block: 1rem;
  overflow: hidden;
}
main .trending-section .trending-title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 0;
}
main .trending-section .trending-title span {
  color: #e91e63;
}
main .trending-section .trending-container {
  height: auto;
}
main .trending-section .trending-container .cards {
  display: flex;
  gap: 1rem;
}
main .trending-section .trending-container .cards .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 180px;
  padding: 1rem;
  border-radius: 8px;
  text-align: left;
  text-decoration: none;
  transition: 0.3s ease;
}
main .trending-section .trending-container .cards .card img {
  margin: 0;
  width: 100%;
  height: auto;
  border-radius: 4px;
  -o-object-fit: contain;
     object-fit: contain;
}
main .trending-section .trending-container .cards .card .category__title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}
main .trending-section .trending-container .cards .card .price {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #000;
}
main .trending-section .swiper {
  overflow: initial;
}
main .trending-section .swiper .swiper-button-next::after, main .trending-section .swiper .swiper-button-prev::after {
  content: "";
}
main .trending-section .swiper .swiper-button-next, main .trending-section .swiper .swiper-button-prev {
  top: -0.7rem;
  background-color: wheat;
  border: 1px solid whitesmoke;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: --tiny-font-size;
}
main .trending-section .swiper .swiper-button-next svg, main .trending-section .swiper .swiper-button-prev svg {
  width: 100%;
  height: 100%;
  stroke: black;
}
main .trending-section .swiper .swiper-button-prev {
  left: initial;
  right: 2.5rem;
}
main .trending-section .swiper .swiper-button-next {
  right: 0;
}
main .banner-section {
  height: 400px;
  width: 95%;
}
main .banner-section .banner-title {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}
main .banner-section .banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  width: 100%;
  height: 100%;
}
main .banner-section .banner .box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
main .banner-section .banner .pic-1 {
  grid-row: 1/span 2;
  grid-column: 1/2;
  background-color: #555;
}
main .banner-section .banner .pic-2 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #777;
}
main .banner-section .banner .pic-3 {
  grid-row: 1/2;
  grid-column: 3/4;
  background-color: #999;
}
main .banner-section .banner .pic-4 {
  grid-row: 2/3;
  grid-column: 2/span 2;
  background-color: #bbb;
}
main .banner-section .banner .pic-4 .inner-box {
  flex: 1;
  background-color: #ddd;
  color: #000;
  text-align: center;
  width: 100%;
  height: 100%;
}
main .spring-selction-section {
  height: 300vh;
  width: 100%;
  margin-top: 100px;
  background: url("bg-imgs/Spring selection elephants.png");
  background-position: left;
  background-size: cover;
}
main .products-section {
  width: 95%;
}
main .products-section .tab__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 2rem;
}
main .products-section .tab__btns .tab__btn {
  background-color: hsl(0, 0%, 93%);
  color: hsl(0, 0%, 13%);
  padding: 1rem 1.25rem 0.875rem;
  border-radius: 0.25rem;
  font-family: "Poppins", cursive;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}
main .products-section .tab__btns .tab__btn.active-tab {
  color: hsl(176, 88%, 27%);
  background-color: hsl(34, 94%, 87%);
}
main .products-section .tab__items .tab__item:not(.active-tab) {
  display: none;
}
main .products-section .tab__items .tab__item .products__container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 1.5rem;
}
main .products-section .product__item {
  border: 1px solid hsl(129, 36%, 85%);
  border-radius: 1.5rem;
  transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
}
main .products-section .product__item:hover {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}
main .products-section .product__item .product__banner {
  padding: 0.625rem 0.75rem 0.75rem;
  position: relative;
}
main .products-section .product__item .product__banner .product__images {
  display: block;
  overflow: hidden;
  border-radius: 1.25rem;
  position: relative;
}
main .products-section .product__item .product__banner .product__images .product__img {
  vertical-align: middle;
  transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
}
main .products-section .product__item .product__banner .product__images .product__img.hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
main .products-section .product__item .product__banner:hover .product__img.default {
  opacity: 0;
}
main .products-section .product__item .product__banner:hover .product__img.hover {
  opacity: 1;
  transform: scale(1.1);
}
main .products-section .product__item .product__banner:hover .product__actions {
  opacity: 1;
}
main .products-section .product__item .product__banner .product__actions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
  opacity: 0;
}
main .products-section .product__item .product__banner .product__actions .action__btn {
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: hsl(129, 44%, 94%);
  border: 1px solid hsl(129, 36%, 85%);
  color: hsl(154, 13%, 32%);
  font-size: 0.875rem;
  position: relative;
}
main .products-section .product__item .product__banner .product__actions .action__btn::before, main .products-section .product__item .product__banner .product__actions .action__btn::after {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  opacity: 0;
}
main .products-section .product__item .product__banner .product__actions .action__btn::before {
  content: "";
  top: -2px;
  border: 0.5rem solid transparent;
  border-top-color: hsl(176, 88%, 27%);
}
main .products-section .product__item .product__banner .product__actions .action__btn::after {
  content: attr(aria-label);
  bottom: 100%;
  background-color: hsl(176, 88%, 27%);
  color: hsl(0, 0%, 100%);
  font-size: 0.6875rem;
  white-space: nowrap;
  padding-inline: 0.625rem;
  border-radius: 0.25rem;
  line-height: 2.58;
}
main .products-section .product__item .product__banner .product__actions .action__btn:hover {
  background-color: hsl(176, 88%, 27%);
  border-color: hsl(176, 88%, 27%);
  color: hsl(0, 0%, 100%);
}
main .products-section .product__item .product__banner .product__actions .action__btn:hover::before, main .products-section .product__item .product__banner .product__actions .action__btn:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-0.5rem);
}
main .products-section .product__item .product__banner .product__badge {
  position: absolute;
  left: 1.25rem;
  top: 1.25rem;
  background-color: hsl(176, 88%, 27%);
  color: hsl(0, 0%, 100%);
  padding: 0.25rem 0.625rem;
  border-radius: 2.5rem;
  font-size: 0.6875rem;
}
main .products-section .product__item .product__banner .product__badge.light-pink {
  background-color: hsl(341, 100%, 73%);
}
main .products-section .product__item .product__banner .product__badge.light-green {
  background-color: hsl(155, 20%, 67%);
}
main .products-section .product__item .product__banner .product__badge.light-orange {
  background-color: hsl(24, 100%, 73%);
}
main .products-section .product__item .product__banner .product__badge.light-blue {
  background-color: hsl(202, 53%, 76%);
}
main .products-section .product__item .product__content {
  padding: 0 1.25rem 1.125rem;
  position: relative;
}
main .products-section .product__item .product__content .product__category {
  color: hsl(60, 1%, 56%);
  font-size: 0.75rem;
}
main .products-section .product__item .product__content .product__title {
  font-size: 1rem;
  margin-block: 0.75rem 0.5rem;
}
main .products-section .product__item .product__content .product__rating {
  color: hsl(42, 100%, 50%);
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
}
main .products-section .product__item .product__content .product__price {
  display: flex;
  gap: 0.5rem;
}
main .products-section .product__item .product__content .product__price .new__price {
  font-size: 1.125rem;
}
main .products-section .product__item .product__content .cart__btn {
  position: absolute;
  bottom: 1.6rem;
  right: 1.25rem;
  width: 40px;
  height: 40px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  background-color: hsl(129, 44%, 94%);
  border: 1px solid hsl(129, 36%, 85%);
  color: hsl(154, 13%, 32%);
  font-size: 0.875rem;
  transition: all 0.3s ease;
}
main .products-section .product__item .product__content .cart__btn:hover {
  background-color: hsl(176, 88%, 27%);
  border-color: hsl(176, 88%, 27%);
  color: hsl(0, 0%, 100%);
}
main .reviews-section {
  background: #fff;
  padding: 2rem;
  overflow: hidden;
}
main .reviews-section .title-header {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
}
main .reviews-section .reviews-carousel {
  overflow: hidden;
  padding: 20px 0;
  position: relative;
  white-space: nowrap;
}
main .reviews-section .reviews-carousel:before, main .reviews-section .reviews-carousel:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
main .reviews-section .reviews-carousel:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
main .reviews-section .reviews-carousel:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
main .reviews-section .reviews-carousel:hover .reviews-slide {
  animation-play-state: paused;
}
main .reviews-section .reviews-slide {
  display: inline-block;
  white-space: nowrap;
  animation: 35s slide infinite linear;
}
main .reviews-section .review-card {
  background-color: rgb(244, 225, 190);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  white-space: normal;
}
main .reviews-section .review-card .review-count {
  background-color: rgb(255, 242, 217);
  color: #000;
  font-size: 0.9rem;
  padding: 0.3rem 0.8rem;
  border-radius: 999px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 1rem;
}
main .reviews-section .review-card .review-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 1rem;
}
main .reviews-section .review-card hr {
  border: none;
  height: 1px;
  background: rgb(173, 143, 104);
  margin: 0.5rem 0;
}
main .reviews-section .review-card .reviewer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
main .reviews-section .review-card .reviewer .reviewer-logo {
  background-color: whitesmoke;
  color: black;
  font-weight: bold;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
main .reviews-section .review-card .reviewer .reviewer-info .reviewer-name {
  font-weight: 600;
  margin: 0;
}
main .reviews-section .review-card .reviewer .reviewer-info .reviewer-role {
  font-size: 0.85rem;
  color: #555;
  margin: 0;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
main .reviews-section .review-promise {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 400px;
  gap: 2rem;
  margin-top: 2rem;
}
main .reviews-section .review-promise .img-container {
  width: auto;
  height: 100%;
}
main .reviews-section .review-promise .img-container img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
main .reviews-section .review-promise .text-container {
  padding: 1rem;
}
main .reviews-section .review-promise .text-container h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
main .reviews-section .review-promise .text-container p {
  font-size: 1rem;
  line-height: 1.5;
}/*# sourceMappingURL=main.css.map */